data/ROCA
data/initialize_models
data/modelnet40_normal_resampled
output/
models/Pointnet2_PyTorch
models/pointbert/__pycache__/checkpoint.cpython-38.pyc
models/pointbert/__pycache__/logger.cpython-38.pyc

